body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 300px;
  margin: 30px auto;
  background-color: white;
  border: 2px solid red;
  overflow: auto;
  min-height:300px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 3px grey;
}

.btn{
  display: inline-block;
  background: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-size: 15px;
}

.niceInput{
  display: inline-block;
  border: none;
  border-bottom: 1px solid red;
  text-align: left;
  padding: 10px 10px;
  margin: 5px;
  outline: none;
}

.niceLabel{
  font-size: 5;
  text-align: left;
  margin: 5px;
}

.walletContainer{
  max-width: 300px;
  margin: 30px auto;
  background-color: rgb(225, 19, 19);
  color: white;
  overflow: auto;
  min-height:100px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px grey;
}
